.booking-form {
  background-image: url('../img/pexels-future-kiiid-3653963.jpg');
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  border-radius: 10px;
  background-position: absolute;
  background-top: 0;
  background-left: 0;
  background-width: 100%;
  background-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;

}

.form {
  position: absolute;
  z-index: 1;
  width: 410px;
  height:469px;
  left: 400px;
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-heading {
  font-size: 24px;
  font-weight: bold;
  margin-left: 110px;
  margin-bottom: 20px;
  justify-content: center;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

.submitted-name {
  margin-top: 540px;
 margin-left: -40px;
  font-weight: bold;
  color: 		#FF0000;
}

.form-input select {
  width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom: 10px;
}