.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    background-color: #008000;
    
  }
  
  .logo {
     width: 900px;
    align-items: center;
  }
  
  .logo img {
    width: 60px; /* Ubah ukuran logo sesuai kebutuhan */
    height: auto;
    margin-right: 10px; /* Atur margin antara logo dan teks */
  }
  
  .menu ul {
    list-style: none;
    display: flex;
  }
  
  .menu ul li {
    margin-right: 10px;
  }
  
  .menu ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
  }
  
  .menu ul li a.active {
    font-weight: bold;
    color: #ff0000;
  }